.custom-block.details {
    border-color:#ececec;
    color: #0f0f0f;
    background-color: #ececec;
}

.custom-block {
    margin: 16px 0;
    /* border: 1px solid transparent; */
    border-radius: 8px;
    padding: 16px 16px 8px;
    line-height: 24px;
    font-size: 1.1rem;
}


.custom-block.details summary {
    margin: 0 8px 0px 8px;
    font-weight: 700;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}
