.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    width: fit-content;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-mask-image: -webkit-linear-gradient(bottom,transparent 5%,black 70%);
                -webkit-mask-image: -moz-linear-gradient(bottom,transparent 5%,black 70%);
                -webkit-mask-image: -o-linear-gradient(bottom,transparent 5%,black 70%);
                -webkit-mask-image: linear-gradient(to top,transparent 5%,black 70%);
                mask-image: -webkit-linear-gradient(bottom,transparent 5%,black 70%);
                mask-image: -moz-linear-gradient(bottom,transparent 5%,black 70%);
                mask-image: -o-linear-gradient(bottom,transparent 5%,black 70%);
                mask-image: linear-gradient(to top,transparent 5%,black 70%)
  }

.slide-cover {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    bottom:0;
    inset:0;
    

}

.slide-title {
    position:absolute;
}

.slide-title h2 {
}