<nav id="breadcrumb" class="sc-breadcrumb" aria-label="面包屑">
  <ol>
    {{- range .Ancestors.Reverse }}
      {{- $label := default .Title .LinkTitle -}}
      {{- if eq .Kind "taxonomy" }}
        {{- if eq .Type "tags" }}
          {{- $label = "标签" -}}
        {{- else if eq .Type "categories" }}
          {{- $label = "分类" -}}
        {{- end -}}
      {{- end }}
      {{- $url := .RelPermalink -}}
      {{- with $label }}
        <li><a href="{{ $url }}">{{ . }}</a></li>
      {{- end }}
    {{- end }}
  </ol>
</nav>
