{{- $related := slice -}}
{{- with .Params.related }}
  {{- range . }}
    {{- with . }}
      {{- with site.GetPage . }}
        {{- $related = $related | append . -}}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
{{- if eq (len $related) 0 }}
  {{- $related = .Site.RegularPages.Related . -}}
{{- end }}
{{- $related = where $related "Params.noindex" "ne" true | first 2 -}}

{{- with $related }}
  <div id="related-post">
    <h2 class="text-xl md:text-2xl font-bold mb-6 md:mb-8">相关阅读</h2>
    <div class="sc-related-list">
      {{- range . }}
        {{- partial "content/card.html" . -}}
      {{- end }}
    </div>
  </div>
{{- end }}
