{{ define "css" }}
  {{ with resources.Get "css/scbase-home.css" }}
    {{ $homeCSS := . | fingerprint }}
    <link rel="stylesheet" href="{{ $homeCSS.RelPermalink }}">
  {{ end }}
{{ end }}

{{ define "main" }}

{{- $portal := partial "home/portal-data.html" . -}}
{{- partial "home/pinned.html" $portal.pinned -}}
{{- partial "home/popular.html" $portal.popular -}}
{{- partial "home/latest.html" $portal.latest -}}
{{- partial "home/tools.html" . -}}
{{- partial "home/channels.html" . -}}

{{ with resources.Get "js/scbase-home.js" | minify | fingerprint }}
  <script src="{{ .RelPermalink }}" defer></script>
{{ end }}

{{ end }}
